/* ========
 adding google fonts   
 ==============================*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ==============  
 reset css default 
 ================================= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ====================
 global class and style 
 ================================= */

body {
  font-family: "Montserrat", sans-serif;
  background-color: #191824;
}

/*===================
 start header title section 
 ======================================= */

.header_title {
  color: #00a3ff;
  margin-top: 30px;
  font-weight: 700;
  display: inline-block;
  border-bottom: 1px solid #00a2ff33;
  position: relative;
  z-index: 99;
}

.header_title::after {
  content: "";
  width: 100%;
  height: 50%;
  background-color: #00a3ff;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
  filter: blur(10px);
  opacity: 0.3;
}

/*=================
 start search_section
 ==============================*/

.srarchBer {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.search_section {
  width: 70%;
  margin: auto;
  height: 50px;
  background-color: #21212e;
  box-shadow: 5px 5px 25px #11101a50, -5px -5px 25px #11101a38;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.4s ease-in-out;
  position: relative;
}
.search_section.active_border {
  border: 1px solid #00a3ff;
}
.searchIcons {
  position: absolute;
  display: block;
  left: 15px;
  top: 11px;
}
.searchIcons .cions_search {
  color: #00a3ff;
  width: 25px;
}
input {
  width: 80%;
  margin: auto;
  display: block;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #bababf;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

/*================
 btn design
 ===========================  */

.btn_Search {
  background-color: #00a3ff;
  color: white;
  position: absolute;
  right: 10px;
  top: 5px;
  font-weight: 700;
}
.btn_Search:hover {
  background-color: transparent;
  color: #00a3ff;
}
.showMore {
  margin: auto;
  display: block;
  background-color: #00a3ff;
  color: white;
  cursor: pointer;
  display: none;
  margin-top: 30px;
}
/*=====================
 start card_section 
 ================================== */

.card {
  background-color: #21212e;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 25px #11101a50, -5px -5px 25px #11101a38;
  border: 1px solid rgba(255, 255, 255, 0.164);
  cursor: pointer;
  margin-bottom: 30px;
}
.card_section {
  margin-top: 40px;
}

.card img {
  width: 200px;
  display: block;
  margin: auto;
  box-shadow: 5px 5px 25px #11101a83, -5px -5px 25px #11101a8c;
}
.card .btn_details {
  background-color: #00a3ff;
  color: white;
  display: block;
  margin: auto;
}

.card .card_details {
  margin-top: 30px;
  text-align: center;
  color: white;
}

/*================ 
modal design 
========================== */
.modal_Overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.842);
}
.modal_cusom {
  height: 530px;
  width: 900px;
  margin: auto;
  background-color: #21212e !important;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  overflow: hidden;
  z-index: 99;
  border-radius: 10px;
}

.modal_cusom .phone_image img {
  margin-bottom: 20px;
}
.modal_cusom .phone_core_details {
  border-bottom: 1px solid #8260d5;
}

.modal_cusom .phone_image img {
  margin-bottom: 20px;
}
.modal_cusom h5 {
  color: #d9d9dc;
}
.modal_cusom h5 strong {
  color: #8260d5;
}
.modal_cusom img {
  width: 200px;
  margin: auto;
  display: block;
}

.close_icon {
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
  width: 40px;
  height: 40px;
  color: red;
  cursor: pointer;
}
.modal_Overlay {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  transform: scale(4);
}
.modal_Overlay.active {
  visibility: visible;
  opacity: 1;
  pointer-events: painted;
  transform: scale(1);
}
